.part2{
    width: 100%;
    height: 400px;
    background-color: #000f2e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont3,.cont4{
    /* border: 2px solid red; */
    height: 380px;
    width: 40%;
}
.cont4{
    width: 30%;
}
.cont3 img{
    width: 400px;
    height: 350px;
}
.cont4 h6{
    color: #7ba435;
}
.cont4 p,h1{
    color: white;
}
.cont4 button{
    background-color: #7ba435;
    border:1px solid #7ba435;
}
@media (max-width:500px) and (min-width:0px){
    .cont3 img{
        width: 17rem !important;
        height: 14rem !important;
        position: relative;
        top: 1rem;
        right: 4rem;
    }
    .cont4{
        width: 15rem;
        font-size: 12px;
        position: relative;
        bottom: 2rem;
        left: 0rem;
        align-items: center;
    }
    .part2{
        display: flex;
        flex-direction: column;
        height: 35rem;    
    }
}